PORT=3304
API_BASE_URL=http://148.230.125.221:3304
CLIENT_ORIGIN=https://akdigital.ma/assabahcafe

DB_HOST=localhost
DB_PORT=3306
DB_USER=menu_user
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_NAME=menu_akdi

JWT_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@paradise.local
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
